@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans|Roboto+Mono&display=swap');

#flashcard-window {
  width: 300px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 8px;
  position: absolute;
/*  right: 16px;
  top: 16px;*/
  left: 0px;
  top: 0px;
  padding: 24px;
  font-family: 'Open Sans', sans-serif;
}

.flashcard-category {
  margin-bottom: 20px;
}

.flashcard-category > img {
  width: 60px;
  color: white;
}

.code-block {
  background-color: rgba(0,0,0,0.7);
  border-radius: 8px;
  margin-bottom: 12px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 12px;
  width: 100%;
}

.user-answer {
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

a {
  background-color: rgba(0,0,0,0.7);
  border-radius: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 6px 24px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: red;
}

p {
  margin-bottom: 12px;
}
