.flashcard-container {
  height: 300px;
  width: 600px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.flashcard-category {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 8px 0;
  background-color: yellow;
}

.flashcard-category > img {
  height: 24px;
  margin-right: 16px;
}

.question {
  padding: 8px 0;
  margin-bottom: 8px;
}

.user-answer {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: none;
}

.btn-light {
  padding: 6px 12px;
  width: 120px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

p {
  margin: 0;
}
