<div class='flashcard-window hidden'>
  <div class='flashcard-category'>
    <img src='chrome-extension://ginifbbapdgbbglelocagabffednffek/images/rails-logo.svg' alt='Rails logo' id="rails-logo"></img>
  </div>
  <div class='text-qa' id='answer'>
  </div>
  <div class='btn-container'>
    <a href='#' class='flip-btn'>
      <img src="chrome-extension://ginifbbapdgbbglelocagabffednffek/images/redo-solid.svg" alt="redo" class="redo-solid"></img>
      <p style="margin: 0">flip</p>
    </a>
    <a href="#" class='next-btn'>
      <p style="margin: 0">next</p>
    </a>
  </div>
</div>
