<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Flashcard</title>
  <link rel='stylesheet' type='text/css' href='chrome-extension://ginifbbapdgbbglelocagabffednffek/css/flashcard_iframe.css'>
  <!-- <link rel='stylesheet' type='text/css' href='css/flashcard_iframe.css'> -->
</head>
<body style="padding: 0; margin: 0">

  <div id='flashcard-window'>

    <div class='flashcard-category'>
      <img src='chrome-extension://ginifbbapdgbbglelocagabffednffek/images/rails-logo.svg' alt='Rails logo' class='rails-logo'>
    </div>

    <div id='question-answer'>
    </div>

    <div class="user-answer-container">
      <textarea class='user-answer-textarea' placeholder='Enter answer here...'></textarea>
    </div>

    <div class='btn-container'>
      <a href='#' class='flip-btn'>
        <img src="chrome-extension://ginifbbapdgbbglelocagabffednffek/images/redo-solid.svg" alt="redo" class="redo-solid">
        <p>flip</p>
      </a>
    </div>

  </div>

  <script src="../javascript/flashcard_iframe_module.js"></script>

</body>
</html>
