<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Flashcard</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <link rel='stylesheet' type='text/css' href='chrome-extension://ginifbbapdgbbglelocagabffednffek/css/flashcard.css'>
</head>
<body>

  <div id='flashcard-window'>

    <div class='flashcard-category'>
      <img src='chrome-extension://ginifbbapdgbbglelocagabffednffek/images/rails-logo.svg' alt='Rails logo'>
    </div>

    <div id='question'>
      <p>What does this return?</p>
      <div class='code-block'>
        rails generate controller pages features pricing contact
      </div>
    </div>

    <textarea class='user-answer' rows='4' placeholder='Enter answer here...'></textarea>

    <div class='btn-container'>
      <a href='#' class='flip-btn' id='flip-btn'>
        <i class='fas fa-redo'></i>
        flip
      </a>
    </div>

  </div>

</body>
</html>
