<html style="width: 300px">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="../css/popup_general.css">
    <link rel="stylesheet" href="../css/popup_not_blacklisted.css">
  </head>
  <body>

    <div class="popup-blacklisted-container">

      <!-- Logo -->
      <img src="../images/HTT_logo.svg" class="HTT-logo" alt="Hold that thought...">

      <div class="blacklisted-question-container">
        <p>Do you want to blacklist <span class="website-marked">instagram.com</span> ?</p>
      </div>

      <div class="menu-btn-container">

        <div class="menu-options">
          <ul>
            <a href="http://www.holdthatthought.xyz/dashboard"><li>Manage account</li></a>
            <a href="#"><li>Log out</li></a>
          </ul>
        </div>

        <div class="yes-no-container">
          <a href="#"><img src="../images/times-circle-solid.svg" class="btn-no" alt="No"></a>
          <a href="#"><img src="../images/check-circle-solid.svg" class="btn-yes" alt="Yes"></a>
        </div>

      </div>

    </div>

    <script src="../javascript/popup_not_blacklisted.js"></script>
  </body>
</html>
