<div class='flashcard-window'>
  <div class='flashcard-category'>
    <img src='chrome-extension://khnloolbiomiobhojdnncfckgpadenpg/images/rails-logo.svg' alt='Rails logo' id="rails-logo"></img>
  </div>
  <div class='text-qa' id="question">
  </div>
  <textarea class='user-answer' rows='4' placeholder='Enter answer here...'>
  </textarea>
  <div class='btn-container'>
    <a href='#' class='flip-btn'>
      <img src="chrome-extension://khnloolbiomiobhojdnncfckgpadenpg/images/redo-solid.svg" alt="redo" class="redo-solid"></img>
      <p style="margin: 0">flip</p>
    </a>
  </div>
</div>
